body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2e7d32;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    box-sizing: border-box;
    width: 100%; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

h1 {
    margin: 0;
}

nav {
    display: flex;
    gap: 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    background-color: #555;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
}

nav a:hover {
    background-color: #777;
}

.home-btn {
    text-decoration: none;
    color: #fff;
    transition: color 0.5s ease;
}

.home-btn:hover {
    color: #2cda00;
}

.signin-btn:hover {
    background-color: #2cda00 !important;
}

main {
    flex: 1;
    padding: 40px 0;
}

.about {
    background-color: #1b5e20;
    padding: 20px;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 85%;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    box-sizing: border-box;
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.about p {
    font-size: 1.3rem;
    line-height: 1.6;
    margin: 0 0 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}