<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ username }} - Expense Tracker</title>
    <link rel="stylesheet" href="{% static 'usersprofile/profile.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'home/img/expense-tracker-icon.ico' %}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Expense Tracker</h1>
            <nav>
                <a href="#" class="btn">Logout</a>
            </nav>
        </div>
    </header>
    <main>
        <section class="profile">
            <h1>Your Profile</h1>
            <div class="sections">
                <div class="left-sections">
                    <div class="user-info">
                        <img src="{% static 'usersprofile/img/default_profile_img.jpg' %}" alt="Profile Photo of {{ username }}"/>
                        <p><strong>Name: </strong>{{ firstname }}</p>
                        <p><strong>Surname: </strong>{{ lastname }}</p>
                        <p><strong>Username: </strong>{{ username }}</p>
                        <p><strong>Email: </strong>{{ email }}</p>
                    </div>
                    <div class="recent-expenses">
                        <h2>Recent Expenses</h2>
                        <ul>
                            <li>Food - $50</li>
                            <li>Rent - $400</li>
                            <li>Utilities - $50</li>
                        </ul>
                        <a href="#" class="button">View All Expenses</a>
                    </div>
                </div>
                <div class="right-sections">
                    <div class="dashboard">
                        <h2>Dashboard</h2>
                        <p>Total Expenses: $500</p>
                        <p>Remaining Budget: $1000</p>
                        <a href="#" class="button">View Full Dashboard</a>
                    </div>
                    <div class="right-sections-subsection">
                        <div class="expense-reports">
                            <h2>Expense Reports</h2>
                            <a href="#" class="button">Generate Reports</a>                
                        </div>
                        <div class="settings">
                            <h2>Settings</h2>
                            <a href="#" class="button">Manage Profile Settings</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Expense Tracker. All rights reserved.</p>
    </footer>
</body>
</html>
