<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ username }} - Expense Tracker</title>
    <link rel="stylesheet" href="{% static 'usersprofile/profile.css' %}">
    <link rel="icon" href="{% static 'home/img/expense-tracker-icon.ico' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div class="container">
            <a href="{% url 'home:home' %}" class="home-btn"><h1>Expense Tracker</h1></a>
            <nav>
                <a href="{% url 'users:signout' %}" class="btn">Sign Out</a>
            </nav>
        </div>
    </header>
    <main>
        <section class="profile">
            <h1>Your Profile {{ username }}</h1>
            <div class="sections">
                <div class="left-sections">
                    <div class="user-info">
                        <div class="float-left">
                            {% if profile %}
                                <img src="{{ profile.avatar.url }}" alt="Profile avatar of {{ username }}"/>
                            {% else %}
                                <img src="{% static 'usersprofile/img/default-profile-img.jpg' %}" alt="Default avatar">
                            {% endif %}
                        </div>
                        <div class="float-right">
                            <div class="firstname">
                                <p class="firstname">{{ firstname }}</p> 
                            </div>
                            <div class="lastname">
                                <p class="lastname">{{ lastname }}</p>
                            </div> 
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="recent-expenses">
                        <h2>Latest Accounts</h2>
                        <ul class="expenses">
                            <li>Food &nbsp&nbsp&nbsp $50</li>
                            <li>Rent &nbsp&nbsp&nbsp $400</li>
                            <li>Utilities &nbsp&nbsp&nbsp $50</li>
                            <li>Gas &nbsp&nbsp&nbsp $50</li>
                            <li>Other &nbsp&nbsp&nbsp $100</li>
                        </ul>
                        <div class="view-all">
                            <a href="#" class="button">View All Accounts</a>
                        </div>
                    </div>
                </div>
                <div class="right-sections">
                    <div class="dashboard">
                        <h2>Dashboard</h2>
                        <p class="dashboard-p">Total Expenses: $500</p>
                        <p>Remaining Budget: $1000</p>
                        <p>expense Limit: $700</p>
                        <div class="full-dashboard">
                            <a href="#" class="button">View Full Dashboard</a>
                        </div>
                        <h1>GRAPH</h1>
                    </div>
                    <div class="right-sections-subsection">
                        <div class="expense-reports">
                            <h2>Reports</h2>
                            <a href="#" class="button">Generate Reports</a>                
                        </div>
                        <div class="settings">
                            <h2>Settings</h2>
                            <a href="#" class="button">Manage Settings</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Expense Tracker. All rights reserved.</p>
    </footer>
</body>
</html>
