<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password - Expense Tracker</title>
    <link rel="stylesheet" href="{% static 'users/forgotpass.css' %}">
    <link rel="icon" href="{% static 'home/img/expense-tracker-icon.ico' %}">
</head>
<body>
    <header>
        <div class="container">
            <a href="{% url 'home:home' %}" class="home-btn"><h1>Expense Tracker</h1></a>
            <nav>
                <a href="{% url 'home:about' %}" class="btn">About Us</a>
                <a href="{% url 'home:contact' %}" class="btn">Contact Us</a>
            </nav>
        </div>
    </header>
    <main>
        <section class="forgot-password">
            <h2>Forgot Password</h2>
            {% if messages %}
                {% for message in messages %}
                <div class="message">
                    <i>{{ message }}</i>
                </div>
                {% endfor %}
            {% endif %}
            <form action="{% url 'users:forgotpass' %}" method="post">
                {% csrf_token %}
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <p>We will send a Verification Code to your Email.</p>
                <p>Do not tell it anyone.</p>
                <button type="submit" class="btn-primary">Reset Password</button>
            </form>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Expense Tracker. All rights reserved.</p>
    </footer>
</body>
</html>
