<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In - Expense Tracker</title>
    <link rel="stylesheet" href="{% static 'users/signin.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'home/img/expense-tracker-icon.ico' %}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Expense Tracker</h1>
            <nav>
                <a href="{% url 'home:home' %}" class="btn">Home</a>
                <a href="{% url 'home:about' %}" class="btn">About Us</a>
                <a href="{% url 'home:contact' %}" class="btn">Contact Us</a>
            </nav>
        </div>
    </header>
    <main>
        <section class="signin">
            <h2>Sign In</h2>
            {% if messages %}
                {% for message in messages %}
                <div class="message">
                    <i>{{ message }}</i>
                </div>  
                {% endfor %}
            {% endif %}
            <form action="{% url 'users:signin' %}" method="post">
                {% csrf_token %}
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit" class="btn-primary">Sign In</button>
            </form>
            <p>Don't have an account? <a href="{% url 'users:signup' %}">Sign Up</a></p>
            <p><a href="{% url 'users:forgotpass' %}">Forgot Password?</a></p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Expense Tracker. All rights reserved.</p>
    </footer>
</body>
</html>
