<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - Expense Tracker</title>
    <link rel="stylesheet" href="{% static 'users/signup.css' %}">
    <link rel="icon" href="{% static 'home/img/expense-tracker-icon.ico' %}">
</head>
<body>
    <header>
        <div class="container">
            <a href="{% url 'home:home' %}" class="home-btn"><h1>Expense Tracker</h1></a>
            <nav>
                <a href="{% url 'home:about' %}" class="btn">About Us</a>
                <a href="{% url 'home:contact' %}" class="btn">Contact Us</a>
            </nav>
        </div>
    </header>
    <main>
        <section class="signup">
            <h2>Sign Up</h2>
            {% if messages %}
                {% for message in messages %}
                <div class="message">
                    <i>{{ message }}</i>
                </div>
                {% endfor %}
            {% endif %}
            <form action="{% url 'users:signup' %}" method="POST">
                {% csrf_token %}
                <h3>Personal Information</h3>
                <label for="firstname">First Name:</label>
                <input type="text" id="firstname" name="firstname" required>
                <label for="lastname">Last Name:</label>
                <input type="text" id="lastname" name="lastname" required>
                <h3>Account Information</h3>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <label for="password1">Password:</label>
                <input type="password" id="password1" name="password1" minlength="8" required>
                <label for="password2">Confirm Password:</label>
                <input type="password" id="password2" name="password2" minlength="8" required>
                <button type="submit" class="btn-primary">Sign Up</button>
        </form>
        <p>Already have an account? <a href="{% url 'users:signin' %}">Sign In</a></p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Expense Tracker. All rights reserved.</p>
    </footer>
</body>
</html>
