body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2e7d32;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    box-sizing: border-box;
    width: 100%;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

h1 {
    margin: 0;
}

nav {
    display: flex;
    gap: 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    background-color: #555;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #777;
}

main {
    flex: 1;
    padding: 40px 0;
}

.reset-password {
    background-color: #1b5e20;
    padding: 20px;
    margin: 0 auto;
    max-width: 37%;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    box-sizing: border-box;
}

.reset-password h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.reset-password i {
    font-size: 1.2rem;
    margin-bottom: 0;
    color: #ffffff;
}


.reset-password label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.3rem;
    color: #fff;
    text-align: left;
    width: 100%;
}

.reset-password input {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    color: #333;
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #c9c9c9;
    box-sizing: border-box;
}

.reset-password button {
    font-family: Arial, sans-serif;
    font-size: 1.1rem;
    background-color: #2cda00;
    padding: 12px 30px;
    color: #fff;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto;
}

.reset-password button:hover {
    background-color: #002909;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}
